p {
 font-family: Arial;
}

h1 {
 color: maroon;
}

h2.destination {
 font-family: cursive;
}

.title {
 color: teal;
}

.uppercase {
 text-transform: uppercase;
}
.publish-time {
 color: gray;
}

.cursive {
 font-family: cursive;
}

.capitalize {
 text-transform: capitalize;
}

.description h5 {
 color: teal;
}
h5 {
 color:rebeccapurple;
}

p{
 font-family: Georgia;
}